@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: "inter", "Noto Sans TC", "Dela Gothic One", sans-serif;
  line-height: 1.2;
}

/* 重置標題字重 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置清單符號 */
ul, ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連結 */
a {
  display: block; /* 將a預設的inline改為block，才能設定間距及寬高 */
  color: #666;
  text-decoration: none;
}

/* 日曆樣式 */
.newsTicker .bandmap-wrapper, .newsTicker span, #cubes .cube-left .row-left-down .cube3, #cubes .cube-left .row-left-down .cube3 .arrow-roll, #cubes .cube-left .row-left-down .row-right .row-1 .cube4, #cubes .cube-left .row-left-down .row-right .row-1 .cube5, #cubes .cube-left .row-left-down .row-right .row-1 .cube5 figure, #cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7, #cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9, #cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9 figure, #cubes .cube-left .row-left-down .row-right .row-2 .cube10, #cubes .cube-right .cube-right-up .cube11, #cubes .cube-right .cube-right-up .cube12, #cubes .cube-right .cube-right-up .cube12 .note-roll-cube12, #cubes .cube-right .cube13, #footer, #footer .footer-main .menu, .box-roll, .box-roll .box-intro .box-pic, #bandmap-page figure, #currentevent-page .hover-text .text-left .place, #chatboard-page .buttons .button, #personalcal-page .calendar-illu, .topbar, .topbar .left-part, .topbar .right-part, .carousel, .card .bottom-line .btns .collect-btn, .card-long .card-right .bottom-line .btns .collect-btn, #bandmap-main .search-section, #currentevent-main .cards, #chatboard-main .main-area .searchbar .magnifier, .event-page .content-down .right-part .info-sec .share, .event-page .cards-bottom, #login-page, #login-page .login-left, .login-popup, .login-card, .login-card .card-content form, .login-card .login-btns, #member-bar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bandmap-page, #banddiscover-page, #currentevent-page, #chatboard-page, #personalcal-page, .calendar .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer .footer-main, .card .bottom-line, .card-long .card-right .bottom-line, #bandintro-main .content .upcoming-shows .show-card, #chatboard-main .main-area .searchbar, .login-popup .flow, .login-card .card-content form .remember-me, .collect-content .collect-a .card-list .band-collect-content, #member-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card figure img, .card-long figure img {
  height: 100%;
  object-fit: cover;
}

/* 單行省略 */
.card .content .event, .card-long .card-right .content .event, #bandintro-main .content .upcoming-shows .show-card .show-info .show-title, .calendar .body .row .cell .event-each .event-left .event-name, #chatboard-main .main-area .article .message .text-area .content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 跑馬燈動畫-X軸 */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* 跑馬燈動畫-Y軸 */
@keyframes scroll-y {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(60%);
  }
}
/* 音符動畫 */
@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
/* 笑臉動畫 */
@keyframes smile-face-up {
  0% {
    transform: translateY(10%);
  }
  25% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
/* 耳朵動畫 */
@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
/* 轉圈動畫 */
@keyframes bong_roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* cube12音符動畫 */
@keyframes note-roll-odd {
  0% {
    transform: translateX(5%);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
@keyframes note-roll-even {
  0% {
    transform: translateX(-5%);
  }
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes textani {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 100%;
    left: 102%;
  }
}
/* 跑馬燈區 */
.newsTicker {
  height: 55px;
  background-color: black;
  display: flex;
  overflow: hidden;
}
.newsTicker .bandmap-wrapper {
  animation: scroll 40s linear infinite;
}
.newsTicker .bandmap-wrapper:nth-child(2) {
  animation: scroll2 40s linear infinite;
  animation-delay: -20s;
}
.newsTicker span {
  color: white;
  font-family: "Dela Gothic One";
  font-size: 32px;
  padding: 0 12px;
  white-space: nowrap;
}

/* 首頁cube區 */
#cubes {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
}
#cubes .cube-btn {
  cursor: pointer;
}
#cubes .cube-left {
  width: 65%;
}
#cubes .cube-left .row-left-up {
  height: 35%;
}
#cubes .cube-left .row-left-up:hover .cube1 {
  background-color: #FFAF00;
  padding: 20px 40px 20px 0;
}
#cubes .cube-left .row-left-up:hover .cube2 {
  background-color: #FE8DBA;
  padding: 20px 0 20px 40px;
}
#cubes .cube-left .row-left-up .cube1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30%;
  background-color: #FF4438;
  padding: 20px;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
}
#cubes .cube-left .row-left-up .cube1 .texture {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  left: 0;
  top: 0;
}
#cubes .cube-left .row-left-up .cube1 img {
  width: 90%;
}
#cubes .cube-left .row-left-up .cube2 {
  width: 100%;
  height: 70%;
  background-color: #0099FF;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
#cubes .cube-left .row-left-up .cube2 .texture {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  left: 0;
  top: 0;
}
#cubes .cube-left .row-left-up .cube2 img {
  width: 90%;
}
#cubes .cube-left .row-left-down {
  display: flex;
  width: 100%;
  height: 65%;
}
#cubes .cube-left .row-left-down .cube3 {
  width: 20%;
  flex: 0 0 20%;
  background-color: #FFAF00;
  flex-direction: column;
  overflow: hidden;
}
#cubes .cube-left .row-left-down .cube3 .arrow-roll {
  flex-direction: column;
  animation: scroll-y 8s ease-in-out infinite;
}
#cubes .cube-left .row-left-down .cube3 .arrow-roll:nth-child(2) {
  animation: scroll-y 8s ease-in-out infinite;
  animation-delay: -8s;
}
#cubes .cube-left .row-left-down .cube3 .arrow-roll .ani-arrow {
  fill: #FFF8E4;
}
#cubes .cube-left .row-left-down .cube3 .arrow-roll .arrow1 {
  fill: #FF4438;
  width: 145px;
}
#cubes .cube-left .row-left-down .row-right {
  width: 80%;
}
#cubes .cube-left .row-left-down .row-right .row-1 {
  display: flex;
  width: 100%;
  height: 40%;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube4 {
  width: 25%;
  height: 100%;
  background-color: #FF4438;
  overflow: hidden;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube4 .note-roll {
  display: flex;
  animation: scroll 12s linear infinite;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube4 .note-roll:nth-child(2) {
  animation: scroll2 12s linear infinite;
  animation-delay: -6s;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube4 .note-roll .ani-note {
  display: flex;
  width: 130px;
  fill: #FFF8E4;
  animation: rotate 2s linear infinite;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5 {
  width: 75%;
  height: 100%;
  padding: 10px;
  background-color: #FFF8E4;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5 .texture {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5:hover {
  background-color: #FE8DBA;
  padding: 10px 0 10px 20px;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5:hover .band-introducement {
  color: #FFF8E4;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5:hover figure .arrow {
  stroke: #FFF8E4;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5 .band-introducement {
  font-family: "Dela Gothic One";
  font-size: 60px;
  letter-spacing: 0.3rem;
  color: #FE8DBA;
}
#cubes .cube-left .row-left-down .row-right .row-1 .cube5 figure .arrow {
  width: 90%;
  stroke: #FE8DBA;
  stroke-width: 10px;
}
#cubes .cube-left .row-left-down .row-right .row-2 {
  display: flex;
  width: 100%;
  height: 60%;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left {
  width: 70%;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube6 {
  width: 33.3333333333%;
  background-color: #FE8DBA;
  display: flex;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube6 img {
  color: #FFF8E4;
  object-fit: cover;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7 {
  width: 33.3333333333%;
  background-color: #0099FF;
  overflow: hidden;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7 .smile-face-roll {
  display: flex;
  animation: scroll 30s linear infinite;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7 .smile-face-roll:nth-child(2) {
  animation: scroll2 30s linear infinite;
  animation-delay: -15s;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7 .smile-face-roll .smile-face {
  display: flex;
  width: 150px;
  margin: 0 10px;
  animation: smile-face-up 5s linear infinite;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube7 .smile-face-roll .smile-face:nth-child(2) {
  animation: smile-face-up 5s linear infinite;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .row-right-left-up .cube8 {
  width: 33.3333333333%;
  background-color: #FF4438;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9 {
  width: 100%;
  height: 60%;
  padding: 10px;
  background-color: #FFF8E4;
  flex-direction: column;
  transition: 0.4s;
  overflow: hidden;
  position: relative;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9 .texture {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9:hover {
  background-color: #FE8DBA;
  padding: 10px 0 10px 20px;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9:hover .band-discussion {
  color: #FFF8E4;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9:hover figure .arrow {
  stroke: #FFF8E4;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9 .band-discussion {
  font-family: "Dela Gothic One";
  font-size: 60px;
  letter-spacing: 0.3rem;
  color: #FE8DBA;
}
#cubes .cube-left .row-left-down .row-right .row-2 .row-right-left .cube9 figure .arrow {
  width: 90%;
  stroke: #FE8DBA;
  stroke-width: 10px;
}
#cubes .cube-left .row-left-down .row-right .row-2 .cube10 {
  width: 30%;
  height: 100%;
  background-color: #0099FF;
}
#cubes .cube-left .row-left-down .row-right .row-2 .cube10 .ani-bong {
  width: 90%;
  fill: white;
  animation: bong_roll 20s linear infinite;
}
#cubes .cube-right {
  width: 35%;
}
#cubes .cube-right .cube-right-up {
  display: flex;
  height: 60%;
}
#cubes .cube-right .cube-right-up .cube11 {
  width: 50%;
  background-color: #FFAF00;
}
#cubes .cube-right .cube-right-up .cube11 .ear {
  width: 80%;
  animation: zoom 2s ease-in-out infinite;
}
#cubes .cube-right .cube-right-up .cube12 {
  width: 50%;
  background-color: #0099FF;
  flex-direction: column;
  overflow: hidden;
}
#cubes .cube-right .cube-right-up .cube12 .odd-roll {
  animation: note-roll-odd 8s ease-in-out infinite;
}
#cubes .cube-right .cube-right-up .cube12 .even-roll {
  animation: note-roll-even 8s ease-in-out infinite;
}
#cubes .cube-right .cube-right-up .cube12 .note-roll-cube12 {
  margin: 5px 0;
}
#cubes .cube-right .cube-right-up .cube12 .note-roll-cube12 .ani-note {
  display: flex;
  width: 100px;
  fill: #FFF8E4;
}
#cubes .cube-right .cube-right-up .cube12 .note-roll-cube12 .odd {
  fill: #FE8DBA;
}
#cubes .cube-right .cube13 {
  width: 100%;
  height: 40%;
  background-color: #FF4438;
  overflow: hidden;
  position: relative;
}
#cubes .cube-right .cube13 .texture {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}

/* 導覽列區 */
#nav-bar {
  height: 55px;
  padding: 0 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#nav-bar img {
  width: 220px;
  padding: 12px 12px 12px 0;
}
#nav-bar .menu {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
#nav-bar .menu li {
  transition: 0.4s;
  overflow: hidden;
}
#nav-bar .menu li button {
  border: none;
  height: 100%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
#nav-bar .menu li .word-cube {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
}
#nav-bar .menu li .word-cube p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
#nav-bar .menu li .word-cube span {
  margin-top: 2px;
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  transition: 0.2s;
  transition-delay: 0.2s;
}
#nav-bar .menu li .active {
  background-color: #FFF8E4;
}
#nav-bar .menu li .active p {
  color: black;
}
#nav-bar .menu li .active span {
  display: none;
}
#nav-bar .menu li:hover {
  transform: translateY(55px);
}
#nav-bar .menu li:hover span {
  width: 100%;
}

/* Footer區 */
#footer {
  flex-direction: column;
  position: relative;
}
#footer .footer-up {
  width: 100%;
  margin-bottom: -20px;
}
#footer .footer-main {
  background-color: black;
  padding: 40px 125px;
  width: 100%;
  z-index: 888;
}
#footer .footer-main .logo {
  width: 210px;
}
#footer .footer-main .menu a {
  font-size: 16px;
  color: white;
  padding-left: 24px;
}

/* 首頁區塊共用區 */
.intro-section {
  width: 500px;
  padding: 24px;
  letter-spacing: 0.2rem;
}
.intro-section .title {
  margin-bottom: 40px;
}
.intro-section .title h2 {
  font-family: "Dela Gothic One";
  font-size: 60px;
  margin-bottom: 16px;
}
.intro-section .title .title-ani {
  overflow: hidden;
  transition-delay: 0.6s;
}
.intro-section .title .title-ani::after {
  animation: textani 1s forwards;
}
.intro-section .title .title-ani-tar {
  position: relative;
  width: fit-content;
}
.intro-section .title .title-ani-tar::after {
  content: "";
  width: 0%;
  height: 90%;
  position: absolute;
  top: 5px;
  left: 0;
  background-color: black;
}
.intro-section .title h3 {
  font-size: 24px;
  font-weight: 700;
}
.intro-section .title .title-ani-s {
  overflow: hidden;
  transition-delay: 0.6s;
}
.intro-section .title .title-ani-s::after {
  animation: textani 0.8s forwards;
  animation-delay: 0.5s;
}
.intro-section .title .title-ani-tar-s {
  position: relative;
  width: fit-content;
}
.intro-section .title .title-ani-tar-s::after {
  content: "";
  width: 0%;
  height: 120%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.intro-section p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}
.intro-section .fadein-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.intro-section .fadein-bottom-show {
  opacity: 1;
  transform: translateY(0);
}
.intro-section .button-delay {
  transition-delay: 0.7s;
}
.intro-section .cta {
  display: flex;
  align-items: center;
}
.intro-section .cta span {
  font-size: 14px;
  margin-right: 8px;
}

/* 每個頁面的按鈕 */
.cta-btn {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 100px;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: all 0.4s;
}
.cta-btn:hover {
  transform: translateX(10px);
}

/* 首頁區塊拖拉選單 */
.box-roll {
  width: 40%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
.box-roll .box-intro .box-pic {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 24px 0;
  cursor: pointer;
}
.box-roll .box-intro .box-pic:hover .hover-text {
  bottom: 0;
}
.box-roll .box-intro .box-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-roll .box-intro .box-pic .hover-text {
  position: absolute;
  bottom: -88px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 88px;
  padding: 12px 24px;
  letter-spacing: 0.1rem;
  transition: 0.4s;
}

/* 首頁隨BAND地圖區 */
#bandmap-page {
  height: 100vh;
  padding: 0 50px;
  background: url(./images/bg-bandmap.svg);
  background-size: cover;
  background-position: center;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#bandmap-page figure {
  width: 90%;
}

/* 首頁BAND利商店區 */
#banddiscover-page {
  height: 100vh;
  background-color: #0099FF;
  position: relative;
  padding: 0 50px;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#banddiscover-page .hover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
#banddiscover-page .hover-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#banddiscover-page::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(./images/texture.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.2;
}
#banddiscover-page .intro-section {
  color: white;
  z-index: 1;
}
#banddiscover-page .intro-section .title-ani-tar::after {
  background-color: white;
}
#banddiscover-page .intro-section .title-ani-tar-s::after {
  background-color: white;
}
#banddiscover-page .intro-section h3 {
  font-weight: 600;
}
#banddiscover-page .hover-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
#banddiscover-page .hover-text p {
  font-size: 12px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 首頁BAND地開花區 */
#currentevent-page {
  height: 100vh;
  background-color: #FE8DBA;
  position: relative;
  padding: 0 50px;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#currentevent-page .hover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
#currentevent-page .hover-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#currentevent-page::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(./images/texture.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.2;
}
#currentevent-page .intro-section {
  color: white;
  z-index: 888;
}
#currentevent-page .intro-section .title-ani-tar::after {
  background-color: white;
}
#currentevent-page .intro-section .title-ani-tar-s::after {
  background-color: white;
}
#currentevent-page .intro-section h3 {
  font-weight: 600;
}
#currentevent-page .hover-text {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#currentevent-page .hover-text .text-left h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
#currentevent-page .hover-text .text-left .place figure {
  width: 20x;
  height: 20px;
}
#currentevent-page .hover-text .text-left .place p {
  font-family: "inter";
  font-size: 12px;
  line-height: 1.5;
}
#currentevent-page .hover-text .event-time {
  font-family: "inter";
  font-size: 12px;
}

/* 首頁BAND利貼區 */
#chatboard-page {
  height: 100vh;
  background-image: url(./images/bandchat-photo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 50px;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#chatboard-page .intro-section {
  color: white;
  z-index: 1;
}
#chatboard-page .intro-section .title-ani-tar::after {
  background-color: white;
}
#chatboard-page .intro-section .title-ani-tar-s::after {
  background-color: white;
}
#chatboard-page .intro-section h3 {
  font-weight: 600;
}
#chatboard-page .buttons .button {
  padding: 24px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.4s;
}
#chatboard-page .buttons .button:hover {
  transform: translateX(10px);
}
#chatboard-page .buttons .button:hover .cta-btn {
  transform: none;
}
#chatboard-page .buttons .button p {
  font-size: 30px;
  font-weight: 700;
  color: black;
  letter-spacing: 0.1rem;
  margin-right: 24px;
}

/* 首頁隨BAND排區 */
#personalcal-page {
  height: 100vh;
  position: relative;
  padding: 0 50px;
  background-color: white;
  position: sticky;
  margin-top: 0;
  top: 0;
}
#personalcal-page .calendar-illu {
  position: absolute;
  width: 50%;
  height: 100%;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #FF4438;
  overflow: hidden;
}
#personalcal-page .calendar-illu .graphic-sec {
  margin: 12px 0;
}
#personalcal-page .calendar-illu .note-ani {
  width: 110%;
  animation: note-roll-odd 8s infinite;
}
#personalcal-page .calendar-illu .words {
  width: 200%;
  animation: note-roll-even 8s infinite;
}
#personalcal-page .intro-section {
  position: relative;
  margin-left: 50%;
}

/* 各分頁面共用區 */
/* 主要內容區main */
main {
  margin-bottom: 40px;
  position: relative;
}

/* 回上一頁按鈕 */
.back-to-page {
  position: absolute;
  display: flex;
  align-items: center;
  left: 40px;
  top: 20px;
  padding: 0;
  background: none;
  border: none;
  border: solid 1px white;
  border-radius: 100px;
  background-color: black;
  cursor: pointer;
  z-index: 888;
  opacity: 0.7;
  transition: 0.4s;
}
.back-to-page:hover {
  opacity: 1;
  transform: translateX(-10px);
}
.back-to-page img {
  width: 48px;
  height: 48px;
  margin-left: 4px;
}
.back-to-page p {
  color: white;
  font-size: 12px;
  margin-right: 16px;
}

/* 各分頁topbar */
.topbar {
  height: 50vh;
}
.topbar .left-part {
  flex: 1;
  letter-spacing: 0.1rem;
  color: white;
}
.topbar .left-part .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topbar .left-part .title h2 {
  font-family: "Dela Gothic One";
  font-size: 60px;
  margin-bottom: 16px;
  padding: 4px 8px;
  background-color: white;
}
.topbar .left-part .title .title-ani {
  overflow: hidden;
  transition-delay: 0.6s;
}
.topbar .left-part .title .title-ani::after {
  animation: textani 1s forwards;
}
.topbar .left-part .title .title-ani-tar {
  position: relative;
  width: fit-content;
}
.topbar .left-part .title .title-ani-tar::after {
  content: "";
  width: 0%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.topbar .left-part .title p {
  font-size: 24px;
  font-weight: 700;
  padding: 4px 8px;
  background-color: white;
}
.topbar .left-part .title .title-ani-s {
  overflow: hidden;
  transition-delay: 0.6s;
}
.topbar .left-part .title .title-ani-s::after {
  animation: textani 0.8s forwards;
  animation-delay: 0.5s;
}
.topbar .left-part .title .title-ani-tar-s {
  position: relative;
  width: fit-content;
}
.topbar .left-part .title .title-ani-tar-s::after {
  content: "";
  width: 0%;
  height: 120%;
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.topbar .right-part {
  flex: 1.2;
  height: 700px;
}

/* banner輪播區 */
.carousel {
  position: relative;
  margin-bottom: 24px;
}
.carousel .banner-card {
  position: relative;
  width: 700px;
  height: 500px;
  flex-shrink: 0;
  margin: 0;
  cursor: pointer;
}
.carousel .banner-card .mask {
  position: absolute;
  width: 100%;
  height: 100%;
}
.carousel .banner-card .event-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel .gallery-card {
  position: relative;
  width: 80%;
  height: 80%;
  transition: all 0.5s ease;
}
.carousel .gallery-image-wrapper {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: hidden;
  margin: 0 24px;
  flex-shrink: 0;
}
.carousel .gallery-image-wrapper .gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel .gallery-image-wrapper .svg-overlay {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.carousel .gallery-image-wrapper .overlay-text {
  display: flex;
  width: 120%;
  height: auto;
  position: absolute;
  top: -4px;
  left: -32px;
  padding: 8px 4px;
  font-family: "Dela Gothic One";
  font-size: 36px;
  overflow: hidden;
  z-index: 3;
  color: white;
  background-color: black;
  white-space: nowrap;
  transform: rotate(-8deg);
}
.carousel .gallery-image-wrapper .overlay-text .text {
  margin-left: 16px;
}

/* slider套件更改css */
.slick-slider {
  position: relative;
  margin-bottom: 120px;
}
.slick-slider .slick-prev {
  left: 110px;
  transform: translate(-30px, -30px);
  opacity: 0.7;
  transition: 0.4s ease;
}
.slick-slider .slick-prev::before {
  width: 60px;
  height: 60px;
  display: block;
  content: "";
  background-image: url(./images/btn-back.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px white;
  border-radius: 50%;
  transition: 0.4s ease;
}
.slick-slider .slick-prev:hover {
  transform: translate(-40px, -30px);
  opacity: 1;
}
.slick-slider .slick-next {
  right: 110px;
  transform: translate(-30px, -30px);
  opacity: 0.7;
  transition: 0.4s ease;
}
.slick-slider .slick-next::before {
  width: 60px;
  height: 60px;
  display: block;
  content: "";
  background-image: url(./images/btn-next.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px white;
  border-radius: 50%;
  transition: 0.4s ease;
}
.slick-slider .slick-next:hover {
  transform: translate(-20px, -30px);
  opacity: 1;
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  z-index: 1000;
}

.slick-list {
  overflow: visible;
  display: flex;
  justify-content: center;
}

.slick-track {
  display: flex;
}

.slick-slide {
  opacity: 0.7;
  transition: 0.4s ease;
}

.slick-center {
  opacity: 1;
  transform: scale(1.1);
  z-index: 999;
}

/* 背景區漸層 */
.linear-bg {
  z-index: -1;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.linear-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

/* card卡片樣式 */
.card {
  width: 40%;
  min-width: 360px;
  margin: 0 30px 40px 30px;
  transition: 0.4s;
}
.card:hover {
  box-shadow: 10px 10px #0099FF;
  transform: translate(-10px, -10px);
}
.card figure {
  width: 100%;
  height: 247px;
}
.card .content {
  width: 100%;
  height: 153px;
  font-family: "inter";
  background-color: black;
  color: white;
  padding: 16px;
}
.card .content .date {
  font-size: 16px;
  margin-bottom: 8px;
}
.card .content .event {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.card .content .location {
  display: flex;
  margin-bottom: 8px;
}
.card .content .location figure {
  width: 20px;
  height: 20px;
}
.card .content .location p {
  font-family: "inter";
  font-size: 16px;
}
.card .bottom-line .name-tags {
  font-size: 10px;
  display: flex;
}
.card .bottom-line .name-tags .nametag {
  border: solid 1px white;
  padding: 4px 8px;
  border-radius: 100px;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.4s;
}
.card .bottom-line .name-tags .nametag:hover {
  border: solid 1px #0099FF;
  color: #0099FF;
}
.card .bottom-line .btns {
  display: flex;
}
.card .bottom-line .btns .like {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}
.card .bottom-line .btns .collect-btn {
  border: solid 1px white;
  padding: 2px 8px 2px 4px;
  cursor: pointer;
}
.card .bottom-line .btns .collect-btn figure {
  width: 20px;
  height: 20px;
}
.card .bottom-line .btns .collect-btn p {
  font-size: 12px;
}

/* 右邊卡片 */
.right-place {
  margin: 40px 30px 0 30px;
}

/* 近期活動長卡片 */
.card-long {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  padding: 16px;
  margin-bottom: 24px;
  transition: 0.4s;
}
.card-long:hover {
  box-shadow: 10px 10px #FE8DBA;
  transform: translate(-10px, -10px);
}
.card-long figure {
  width: 205px;
  height: 120px;
}
.card-long .card-right {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
}
.card-long .card-right .content {
  font-family: "inter";
}
.card-long .card-right .content .date {
  font-size: 16px;
  margin-bottom: 8px;
}
.card-long .card-right .content .event {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.card-long .card-right .content .location {
  display: flex;
  margin-bottom: 8px;
}
.card-long .card-right .content .location figure {
  width: 20px;
  height: 20px;
}
.card-long .card-right .content .location p {
  font-family: "inter";
  font-size: 16px;
}
.card-long .card-right .bottom-line .name-tags {
  font-size: 10px;
  display: flex;
}
.card-long .card-right .bottom-line .name-tags .nametag {
  border: solid 1px white;
  padding: 4px 8px;
  border-radius: 100px;
  margin-right: 8px;
  cursor: pointer;
  transition: 0.4s;
}
.card-long .card-right .bottom-line .name-tags .nametag:hover {
  border: solid 1px #FE8DBA;
  color: #FE8DBA;
}
.card-long .card-right .bottom-line .btns {
  display: flex;
}
.card-long .card-right .bottom-line .btns .like {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}
.card-long .card-right .bottom-line .btns .collect-btn {
  border: solid 1px white;
  padding: 2px 8px 2px 4px;
  cursor: pointer;
}
.card-long .card-right .bottom-line .btns .collect-btn figure {
  width: 20px;
  height: 20px;
}
.card-long .card-right .bottom-line .btns .collect-btn p {
  font-size: 12px;
}

/* 演出搜尋頁面 */
#bandmap-main {
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* 搜尋選單 */
}
#bandmap-main .linear-bg {
  background: linear-gradient(to bottom, #FFAF00, white, #FE8DBA);
}
#bandmap-main .left-part {
  color: #0099FF;
}
#bandmap-main .left-part .title-ani-tar::after,
#bandmap-main .left-part .title-ani-tar-s::after {
  background-color: #0099FF;
}
#bandmap-main .right-part {
  background-color: #FF4438;
}
#bandmap-main .search-section {
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
}
#bandmap-main .search-section div {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
#bandmap-main .search-section div label {
  margin-bottom: 8px;
}
#bandmap-main .search-section div input,
#bandmap-main .search-section div select {
  background-color: transparent;
  border: solid 3px white;
  height: 40px;
  padding-left: 4px;
  color: white;
}
#bandmap-main .search-section div input:focus,
#bandmap-main .search-section div select:focus {
  outline: none;
}
#bandmap-main .search-section div ::placeholder {
  padding-left: 4px;
}
#bandmap-main .search-section div select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: url(./images/selector.svg) no-repeat scroll right center transparent;
}
#bandmap-main .search-section div select option {
  padding-left: 8px;
}
#bandmap-main .search-section .where {
  background-color: #0099FF;
}
#bandmap-main .newsTicker {
  width: 110%;
  height: 80px;
  transform: rotate(-3deg) translateX(-10px);
  margin-bottom: 60px;
}
#bandmap-main .newsTicker span {
  font-size: 40px;
}
#bandmap-main .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

/* 近期演出頁面 */
#currentevent-main {
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* current event跑馬燈 */
}
#currentevent-main .linear-bg {
  background: linear-gradient(to bottom, #0099FF, white, #FF4438);
}
#currentevent-main .left-part {
  color: #FE8DBA;
}
#currentevent-main .left-part .title-ani-tar::after,
#currentevent-main .left-part .title-ani-tar-s::after {
  background-color: #FE8DBA;
}
#currentevent-main .right-part {
  background-color: #0099FF;
}
#currentevent-main .newsTicker {
  width: 110%;
  height: 80px;
  transform: rotate(-3deg) translateX(-10px);
  margin-bottom: 60px;
}
#currentevent-main .newsTicker span {
  font-size: 40px;
}
#currentevent-main .cards {
  flex-direction: column;
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

/* 樂團推薦頁面 */
/* 樂團介紹頁排版 */
#banddiscover-main {
  position: relative;
  z-index: 0;
  /* 背景漸層 */
}
#banddiscover-main .linear-bg {
  background: linear-gradient(to bottom, #FFAF00, white, #FFF8E4);
}
#banddiscover-main .left-part {
  color: #FF4438;
}
#banddiscover-main .left-part .title-ani-tar::after,
#banddiscover-main .left-part .title-ani-tar-s::after {
  background-color: #FF4438;
}
#banddiscover-main .right-part {
  background-color: #FE8DBA;
}
#banddiscover-main .linear-bg {
  background: linear-gradient(to bottom, #FFAF00, white);
  z-index: -1;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
#banddiscover-main .linear-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

/* 各樂團介紹分頁 */
#bandintro-main {
  position: relative;
  font-family: "inter";
}
#bandintro-main .btn-band-collect {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: #FFAF00;
  z-index: 888;
  cursor: pointer;
}
#bandintro-main .btn-band-collect img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
#bandintro-main .btn-band-collect p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}
#bandintro-main .background {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: -100;
}
#bandintro-main .background img {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: -99;
}
#bandintro-main .background .overlay-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -98;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
#bandintro-main .content {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* 樂團介紹區塊 */
  /* 近期演出區塊 */
  /* 音樂專輯區塊 */
  /* 其他樂團輪播區 */
}
#bandintro-main .content .band-intro {
  padding: 24px 96px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
}
#bandintro-main .content .band-intro .band-name {
  font-size: 60px;
  font-family: "Dela Gothic One";
  color: #FFAF00;
  margin-bottom: 24px;
}
#bandintro-main .content .band-intro .band-description {
  line-height: 2.3rem;
  font-size: 20px;
  color: white;
  letter-spacing: 0.1rem;
}
#bandintro-main .content .upcoming-shows {
  margin-top: 24px;
  padding: 24px 96px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
}
#bandintro-main .content .upcoming-shows .shows-title {
  font-size: 60px;
  font-family: "Dela Gothic One";
  color: #FFAF00;
  padding-bottom: 24px;
}
#bandintro-main .content .upcoming-shows .show-card {
  border: 5px solid white;
  padding: 24px 48px;
  margin-bottom: 24px;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}
#bandintro-main .content .upcoming-shows .show-card:hover {
  transform: translateX(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
#bandintro-main .content .upcoming-shows .show-card .show-info {
  line-height: 2rem;
}
#bandintro-main .content .upcoming-shows .show-card .show-info .show-date {
  color: #FFAF00;
  font-weight: 700;
  font-size: 24px;
}
#bandintro-main .content .upcoming-shows .show-card .show-info .show-title {
  font-size: 20px;
  font-weight: 700;
}
#bandintro-main .content .upcoming-shows .show-card .next-btn {
  background: none;
  border: none;
}
#bandintro-main .content .music-albums {
  margin-top: 24px;
  padding: 24px 96px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
}
#bandintro-main .content .music-albums .music-title {
  font-size: 60px;
  font-family: "Dela Gothic One";
  color: #FFAF00;
  padding-bottom: 24px;
}
#bandintro-main .content .music-albums .album-grid {
  display: flex;
}
#bandintro-main .content .music-albums .album-grid .album-card {
  width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
}
#bandintro-main .content .music-albums .album-grid .album-card .album-cover {
  object-fit: cover;
  height: 280px;
  margin-bottom: 8px;
}
#bandintro-main .content .music-albums .album-grid .album-card .album-title {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
#bandintro-main .content .gallery-container {
  margin-top: 24px;
  padding: 24px 0;
}
#bandintro-main .content .gallery-container .gallery-title {
  padding: 0 96px;
  font-size: 60px;
  font-family: "Dela Gothic One";
  color: #FFAF00;
  padding-bottom: 24px;
}
#bandintro-main .content .gallery-container .banner-section {
  margin-bottom: 0;
}
#bandintro-main .content .gallery-container .banner-section .gallery-image-wrapper {
  opacity: 0.7;
  transition: 0.4s;
}
#bandintro-main .content .gallery-container .banner-section .gallery-image-wrapper:hover {
  opacity: 1;
}
#bandintro-main .content .gallery-container .slick-slide {
  opacity: 0.7;
}
#bandintro-main .content .gallery-container .slick-slide:hover {
  opacity: 1;
}

/* 行事曆頁面 */
.calendar {
  height: calc(100vh - 55px);
  background: white;
  margin-bottom: -40px;
}
.calendar .menu {
  position: relative;
  padding: 8px;
  background: #FFAF00;
  color: white;
}
.calendar .menu button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.4s;
}
.calendar .menu button:hover {
  opacity: 1;
}
.calendar .menu .left {
  left: 100px;
}
.calendar .menu .left:hover {
  transform: translateX(-10px);
}
.calendar .menu .right {
  right: 100px;
}
.calendar .menu .right:hover {
  transform: translateX(10px);
}
.calendar .menu h2 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Dela Gothic One";
  color: black;
  text-align: center;
}
.calendar .days {
  display: grid;
  text-align: center;
  font-size: 24px;
  grid-template-columns: repeat(7, 1fr);
  background: black;
  padding: 12px 0;
  color: white;
  font-family: "Dela Gothic One";
}
.calendar .body {
  height: 75vh;
}
.calendar .body .row {
  height: 15vh;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
}
.calendar .body .row .cell {
  width: 14.2857142857vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  padding-top: 4px;
  transition: 0.3s ease;
}
.calendar .body .row .cell.disabled {
  color: #FFF8E4 !important;
  background-color: white;
  pointer-events: none;
  cursor: not-allowed;
}
.calendar .body .row .cell.today {
  background: #FFF8E4;
  color: white;
}
.calendar .body .row .cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.calendar .body .row .cell .number {
  color: black;
  font-family: "Dela Gothic One";
}
.calendar .body .row .cell .event-each {
  width: 100%;
  font-size: 12px;
  color: #7A4400;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 8px;
}
.calendar .body .row .cell .event-each .event-left {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4px;
}
.calendar .body .row .cell .event-each .event-left .ball {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  background-color: #FFAF00;
  border-radius: 50%;
  margin-right: 4px;
}
.calendar .body .row .has-event {
  cursor: pointer !important;
  pointer-events: auto;
}
.calendar .sidebar {
  position: fixed;
  left: -300px;
  top: 55px;
  width: 300px;
  height: calc(100vh - 55px);
  background-color: white;
  z-index: 999;
  padding: 16px;
  transition: 0.4s ease;
  z-index: 1001;
}
.calendar .sidebar .side-details {
  display: flex;
  flex-direction: column;
}
.calendar .sidebar .side-details h2 {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.calendar .sidebar .side-details span {
  font-size: 12px;
  color: #7A4400;
  margin-bottom: 8px;
}
.calendar .sidebar .side-details .event-name {
  font-size: 14px;
  font-weight: 700;
}
.calendar .visible {
  left: 0;
}

.cell.disabled .number {
  color: rgba(0, 0, 0, 0.25) !important;
  pointer-events: none;
  cursor: not-allowed;
}

/* 樂迷留言板頁面 */
#chatboard-main {
  position: relative;
  z-index: 0;
}
#chatboard-main .linear-bg {
  background: linear-gradient(to bottom, #FE8DBA, white, #0099FF);
}
#chatboard-main .left-part {
  color: #FFAF00;
}
#chatboard-main .left-part .title-ani-tar::after,
#chatboard-main .left-part .title-ani-tar-s::after {
  background-color: #FFAF00;
}
#chatboard-main .right-part {
  background-color: #FFAF00;
  overflow: hidden;
}
#chatboard-main .right-part .smile-face-roll {
  display: flex;
  animation: scroll 16s linear infinite;
}
#chatboard-main .right-part .smile-face-roll:nth-child(2) {
  animation: scroll2 16s linear infinite;
  animation-delay: -8s;
}
#chatboard-main .right-part .smile-face-roll .smile-face {
  display: flex;
  width: 560px;
  margin: 0 24px;
  animation: smile-face-up 5s linear infinite;
}
#chatboard-main .right-part .smile-face-roll .smile-face:nth-child(2) {
  animation: smile-face-up 5s linear infinite;
}
#chatboard-main .main-area {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  /* Search Bar */
  /* Filter */
  /* message */
}
#chatboard-main .main-area .searchbar {
  border: 4px solid black;
  width: 100%;
  height: 56px;
  background-color: white;
}
#chatboard-main .main-area .searchbar .search {
  width: 100%;
  border: none;
  padding-left: 8px;
}
#chatboard-main .main-area .searchbar .search:focus {
  outline: none;
}
#chatboard-main .main-area .searchbar .magnifier {
  width: 40px;
  height: 40px;
  background-color: #FFAF00;
  margin: 8px 4px 8px 16px;
  cursor: pointer;
}
#chatboard-main .main-area .searchbar .magnifier img {
  width: 24px;
  height: 24px;
}
#chatboard-main .main-area .filter {
  display: flex;
  margin: 64px 0 32px 0;
}
#chatboard-main .main-area .filter .option {
  font-size: 16px;
  border: 3px solid #ffaf00;
  background-color: white;
  margin-right: 16px;
  padding: 4px 8px;
}
#chatboard-main .main-area .article {
  border: 3px solid black;
  padding: 32px 36px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  background-color: white;
  transition: 0.4s;
}
#chatboard-main .main-area .article:hover {
  box-shadow: 10px 10px #FFAF00;
  transform: translate(-10px, -10px);
}
#chatboard-main .main-area .article .tag {
  border: 1px solid #0099FF;
  border-radius: 50px;
  padding: 4px 8px;
  font-size: 12px;
  margin-bottom: 16px;
}
#chatboard-main .main-area .article .message {
  display: flex;
  justify-content: space-between;
}
#chatboard-main .main-area .article .message .text-area {
  width: calc(100% - 190px);
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
#chatboard-main .main-area .article .message .text-area .user {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#chatboard-main .main-area .article .message .text-area .user .profile {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
#chatboard-main .main-area .article .message .text-area .user .username {
  font-family: "inter";
  font-size: 14px;
  text-align: center;
}
#chatboard-main .main-area .article .message .text-area .article-title {
  color: #FFAF00;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}
#chatboard-main .main-area .article .message .text-area .content {
  font-size: 16px;
  margin-bottom: 16px;
}
#chatboard-main .main-area .article .message .text-area .feedback {
  display: flex;
}
#chatboard-main .main-area .article .message .text-area .feedback .icon-number {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}
#chatboard-main .main-area .article .message .text-area .feedback .icon-number figure {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
#chatboard-main .main-area .article .message .no-graph-area {
  width: 100%;
}
#chatboard-main .main-area .article .message .picture {
  width: 190px;
}
#chatboard-main .main-area .article .message .picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 各活動頁排版 */
.event-page .event-banner {
  position: relative;
  display: flex;
  overflow: hidden;
}
.event-page .event-banner .cover {
  position: absolute;
  width: 100%;
}
.event-page .event-banner .eventpic {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.event-page .event-banner h1,
.event-page .event-banner h2 {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 36px;
  font-weight: 700;
  padding: 16px 24px;
}
.event-page .event-banner h1 {
  margin-top: 40px;
}
.event-page .event-banner h2 {
  margin-top: 108px;
}
.event-page .content-bg-up {
  margin-top: -70px;
}
.event-page .content-down {
  display: flex;
  justify-content: space-around;
  padding: 0px 80px;
  margin-bottom: 60px;
}
.event-page .content-down .left-part {
  flex: 3;
  padding: 40px 56px 0 56px;
  margin-right: 40px;
  background-color: #0099FF;
}
.event-page .content-down .left-part figure {
  width: 100%;
}
.event-page .content-down .left-part .content-words {
  margin-top: 32px;
  color: white;
}
.event-page .content-down .left-part .content-words h2 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: solid 2px white;
}
.event-page .content-down .left-part .content-words p {
  margin-top: 24px;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 80px;
}
.event-page .content-down .right-part {
  flex: 1;
}
.event-page .content-down .right-part .info-sec {
  font-family: "inter";
  background-color: black;
  color: white;
  padding: 32px 24px;
  letter-spacing: 0.1rem;
}
.event-page .content-down .right-part .info-sec .time {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: solid 2px white;
}
.event-page .content-down .right-part .info-sec .li-sec {
  padding: 16px 0;
}
.event-page .content-down .right-part .info-sec .li-sec h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.event-page .content-down .right-part .info-sec .li-sec p {
  font-size: 24px;
  line-height: 1.5;
}
.event-page .content-down .right-part .info-sec a,
.event-page .content-down .right-part .info-sec button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.event-page .content-down .right-part .info-sec a {
  text-align: center;
  align-content: center;
}
.event-page .content-down .right-part .info-sec .share {
  margin-bottom: 16px;
}
.event-page .content-down .right-part .info-sec .share p {
  margin-right: 16px;
}
.event-page .content-down .right-part .info-sec .share figure {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}
.event-page .newsTicker {
  height: 80px;
  transform: rotate(-3deg);
  margin-bottom: 60px;
}
.event-page .newsTicker span {
  font-size: 40px;
}
.event-page .cards-bottom {
  overflow: hidden;
  padding: 16px 0;
  position: relative;
  z-index: 888;
}
.event-page .cards-bottom .buttons {
  z-index: 999;
}
.event-page .cards-bottom .buttons .cta-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.6;
  border: 1px solid white;
  transition: 0.4s;
}
.event-page .cards-bottom .buttons .cta-btn:hover {
  opacity: 1;
}
.event-page .cards-bottom .buttons .left {
  transform: scale(-1);
  left: 50px;
}
.event-page .cards-bottom .buttons .left:hover {
  transform: scale(-1) translateX(10px);
}
.event-page .cards-bottom .buttons .right {
  right: 50px;
}
.event-page .cards-bottom .buttons .right:hover {
  transform: translateX(10px);
}

/* 登入頁面 */
#login-page {
  height: calc(100vh - 55px);
}
#login-page .login-left {
  flex: 1.5;
  flex-direction: column;
  margin-right: 24px;
}
#login-page .login-left h3,
#login-page .login-left p {
  background-color: black;
  color: white;
  padding: 4px 8px;
  font-size: 36px;
  font-weight: 900;
  font-family: "inter";
  letter-spacing: 0.1rem;
}
#login-page .login-left h3 {
  margin-bottom: 24px;
}
#login-page .login-right {
  flex: 1;
}
#login-page .login-right .login-card {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
  width: 345px;
  height: 100%;
  padding: 40px;
  box-shadow: 10px 10px #FFAF00;
}
#login-page .login-right .login-card figure {
  margin-bottom: 8px;
}
#login-page .login-right .login-card p {
  font-size: 14px;
}
#login-page .login-right .login-card .remember-me p {
  font-size: 12px;
}
#login-page .login-right .login-card .card-content form .login-btns {
  margin-top: 16px;
}
#login-page .login-right .login-card .card-content form .login-btns .line {
  margin: 4px 0 12px 0;
}
#login-page .login-right .login-card .card-content form .login-btns .orange-btn,
#login-page .login-right .login-card .card-content form .login-btns .normal-btn,
#login-page .login-right .login-card .card-content form .login-btns .disabled-btn {
  margin-bottom: 8px;
}

/* 登入/註冊畫面卡片彈跳視窗 共用區 */
/* 遮罩 */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

/* 註冊頁背景 */
.signup-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.signup-bg .bg-smile {
  position: absolute;
  width: 800px;
  top: 0px;
  right: -250px;
}
.signup-bg .bg-blue12 {
  position: absolute;
  width: 500px;
  left: -60px;
  top: 500px;
  animation: bong_roll 20s linear infinite;
}

.login-popup {
  height: calc(100vh - 55px);
  width: 100%;
  position: absolute;
  flex-direction: column;
  overflow: hidden;
}
.login-popup .flow {
  width: 486px;
  margin-bottom: 32px;
}
.login-popup .flow .line {
  display: block;
  width: 160px;
  height: 4px;
  border-radius: 0;
  background-color: #B2B2B2;
}
.login-popup .flow div {
  width: 48px;
  height: 48px;
  font-family: "Dela Gothic One";
  text-align: center;
  font-size: 32px;
  border-radius: 100px;
  color: white;
}
.login-popup .flow .done {
  background-color: #FFAF00;
}
.login-popup .flow .undo {
  background-color: #B2B2B2;
}
.login-popup .login-card {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

/* 登入畫面卡片btns 共用樣式 */
.login-card {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid 5px black;
  flex-direction: column;
  width: 486px;
  height: 512px;
  padding: 0 80px;
  box-shadow: 10px 10px #FFAF00;
  background-color: white;
  z-index: 1001;
}
.login-card h1 {
  font-family: "Dela Gothic One";
  font-size: 36px;
}
.login-card p {
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.5;
}
.login-card .card-content {
  width: 100%;
}
.login-card .card-content form {
  margin-top: 24px;
  flex-direction: column;
  width: 100%;
}
.login-card .card-content form .user-data {
  width: 100%;
  border: none;
  border-bottom: solid 1px black;
  margin-bottom: 16px;
  font-size: 16px;
  padding-bottom: 4px;
}
.login-card .card-content form .user-data::placeholder {
  color: #B2B2B2;
}
.login-card .card-content form .user-data:focus {
  outline: none;
}
.login-card .card-content form .remember-me {
  width: 100%;
  font-size: 12px;
  margin-top: -12px;
  color: #B2B2B2;
}
.login-card .card-content form .remember-me p {
  font-size: 12px;
  color: #0099FF;
}
.login-card .card-content form .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #B2B2B2;
  margin: 8px 0 24px 0;
}
.login-card .login-btns {
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}
.login-card .login-btns .orange-btn,
.login-card .login-btns .normal-btn,
.login-card .login-btns .disabled-btn {
  width: 100%;
  border: solid 1px black;
  font-size: 16px;
  padding: 8px 0;
  text-align: center;
  color: black;
  margin-bottom: 16px;
  background-color: transparent;
  cursor: pointer;
}
.login-card .login-btns .disabled-btn {
  border: solid 1px #B2B2B2;
  color: #B2B2B2;
}
.login-card .login-btns .orange-btn {
  background-color: #FFAF00;
  border: none;
}

/* 會員專區頁面 */
.collect-content {
  height: calc(100vh - 55px);
  margin-top: 55px;
}
.collect-content .collect-a {
  flex-grow: 1;
  margin-left: 205px;
  padding: 24px;
  overflow-y: auto;
}
.collect-content .collect-a h2 {
  font-family: "Dela Gothic One";
  font-size: 36px;
  color: #FFAF00;
  margin-bottom: 16px;
}
.collect-content .collect-a .card-list {
  display: flex;
  flex-wrap: wrap;
}
.collect-content .collect-a .card-list .card {
  width: 360px;
  margin: 0 16px 16px 0;
}
.collect-content .collect-a .card-list .card:hover {
  box-shadow: none;
  transform: none;
}
.collect-content .collect-a .card-list .band-collect-content {
  height: auto;
}
.collect-content .collect-a .card-list .band-collect-content p {
  font-weight: 700;
  font-size: 20px;
}
.collect-content .collect-a .card-list .band-collect-content img {
  width: 24px;
  height: 24px;
}

#member-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 0 40px;
  background-color: black;
  z-index: 999;
}
#member-bar .logo {
  width: 220px;
  padding: 12px 12px 12px 0;
}
#member-bar .menu img {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  cursor: pointer;
}

/* sidebar */
#sidebar {
  width: 205px;
  height: calc(100vh - 55px);
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 12px;
  /* 允許垂直滾動 */
  background-color: white;
}
#sidebar .nav {
  margin: 10px;
  font-size: 16px;
}
#sidebar .nav .section-title {
  padding: 18px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}
#sidebar .nav li a {
  display: block;
  padding: 18px 16px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar .nav li a:hover {
  background-color: #FFF8E4;
  color: black;
}/*# sourceMappingURL=style.css.map */