// 速率
$speed-cubebuttomhover: .4s;

// 字型
$font_title_dela: 'Dela Gothic One';
$font_notosans: 'Noto Sans TC';
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;
$font_black: 900;

$fontsize_title: 60px;
$fontsize_subtitle: 24px;
$fontsize_content: 20px;
$fontsize_40: 40px;
$fontsize_36: 36px;
$fontsize_32: 32px;
$fontsize_16: 16px;
$fontsize_14: 14px;
$fontsize_12: 12px;
$fontsize_10: 10px;

// 字距
$letterspacing_10per: 0.1rem;

// 距離
$distance_xs: 4px;
$distance_s: 8px;
$distance_m: 16px;
$distance_l: 24px;
$distance_xl: 32px;
$distance_xxl: 40px;
$distance_60: 60px;
$distance_80: 80px;

$interval_0_80: 0px 80px;
$interval_32_24: 32px 24px;
$interval_16_24: 16px 24px;
$interval_16_0: 16px 0;
$interval_0_24: 0 24px;
$interval_24_0: 24px 0;
$interval_0_8: 0 8px;
$interval_8_0: 8px 0;
$interval_4_8: 4px 8px;

// z-index
$z_index-m: 888;
$z_index-l: 999;

// RWD斷點
$mediaSm: 'max-width: 390px';